BasedOnStyle: Google
IndentWidth: 2

Language: Cpp
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: Empty
IncludeBlocks: Preserve
SortIncludes: false

ColumnLimit: 80
AccessModifierOffset: -2
AlwaysBreakTemplateDeclarations: true
NamespaceIndentation: None

DerivePointerAlignment: false
PointerAlignment: Left
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterComma
