If:
  PathMatch: [.*\.cpp, .*\.hpp]
CompileFlags:
  Add: [
    -std=c++20,
    -Wall,
    -Wextra,
    -Wpedantic,
    -Wcast-align,
    -Wcast-qual,
    -Wctor-dtor-privacy,
    -Wenum-compare,
    -Wfloat-equal,
    -Wnon-virtual-dtor,
    -Wold-style-cast,
    -Woverloaded-virtual,
    -Wredundant-decls,
    -Wsign-promo,
    -Werror
  ]